<app-header title="Login" ></app-header>
<ion-content>
  <section  class="page">
    <ion-item>
      <ion-input placeholder="User Name / Client Key"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Password"  type="password"></ion-input>
    </ion-item>
  
    <div>
      <ion-button expand="full" color="primary"  (click)="signIn()">Sign in</ion-button>
    </div>

    <div class="register">
      <ion-button [routerLink]="['/register']" expand="block" color="danger">Register</ion-button>
    </div>
  </section>

</ion-content>

