ion-item{
   > div {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
   }
}

form{
    padding: 1rem;
}

.controls{
    display: flex;
    padding-top: 1rem;
    justify-content: space-around;
}