<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section  class="page">
    <h1 class="already">Register As</h1>
    <br>
    <br>
    <ion-button [routerLink]="['/register/user']" expand="block" color="primary">User</ion-button>
    <span class="divider line one-line">or</span>
    <ion-button [routerLink]="['/register/client']" expand="block" color="primary">Client Partner</ion-button>
    <br>

    <div>
      <ion-button [routerLink]="['']" color="danger">Cancel</ion-button>
    </div>

  </section>

</ion-content>
